	@import url(https://fonts.googleapis.com/css?family=Poppins:regular);
html{
	font-family: Poppins;
}
*{
	margin: 0;
	padding: 0;
	border: 0;
}
*,*::before,*::after{
	box-sizing: border-box;
}
nav,footer,header,aside{
	display: block;
}
body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 12px;
	
}
input,button,textarea{
	font-family: inherit;
}
ul li{
	list-style-type: none;
}
p{
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: inherit;
	font-family: inherit;
}
a{
	text-decoration: none;
}
/*=================================================================================*/
body.active{
	overflow: hidden;
}
.header {
	max-width: 100%;
}
.header__container {
	max-width: 1200px;
	margin: 0 auto;
}

.header__row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 90px;
	padding: 10px 30px;
}
@media (max-width: 450px){
	.header__row{
		height: 110px;
	}
}
.header__logo {
	flex: 1 1 auto;
}
@media (max-width: 910px){
	.header__logo img{
		max-width: 180px;
	}
}
@media (max-width: 768px){
	.header__logo{
		flex: 1 1 auto;
		z-index: 3;
	}
}
@media (max-width: 450px){
	.header__logo{
		flex: 1 1 100%;
		text-align: center;
		margin-bottom: 20px;
	}
}
.header__menu {
	flex: 0 1 auto;
}
.menu__list {
	display: flex;
	transition: 0.3s ease;
}
@media (max-width: 768px){
	.menu__list {
		display: block;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 90px 0 0 0;
		text-align: center;
		z-index: 2;
	}
	.menu__list.active{
		left: 0;
	}
}
.menu__link {
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #1B1A1A;
	margin: 0 30px 0 0;	
	border-bottom: 1px solid #fff;
}
@media (max-width: 768px){
	.menu__link{
		font-size: 24px;
	}
}
@media (max-width: 830px){
	.menu__link{
		margin: 0 15px 0 0;	
	}
}
.menu__link:hover{
	border-bottom: 1px solid #1B1A1A;
}
.header__button {
	flex: 0 0 150px;
}
@media (max-width: 450px){
	.header__button{
		flex: 1 1 auto;
	}
}

.button {
	text-align: center;
	padding: 10px 20px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	background: #1B1A1A;
	border-radius: 14px;
	color: #fff;
	box-shadow: 11px 11px 25px rgba(9, 7, 37, 0.06);
}
.header-burger{
	display: none;
	transition: 0.3 ease;
}

@media (max-width: 768px) {
		.header-burger{
		display: block;
		position: relative;
		z-index: 3;
		width: 30px;
		height: 20px;
		margin-left: 20px;
	}
	.header-burger span{
		position: absolute;
		top: 10px;
		min-width: 30px;
		height: 2px;
		background-color: #1B1A1A;
	}
	.header-burger::before,
	.header-burger::after{
		display: inline-block;
		content: "";
		position: absolute;
		min-width: 30px;
		height: 2px;
		background-color: #1B1A1A;
		transition: 0.3s ease;
	}
	.header-burger::before{
		top: 0;
	}
	.header-burger::after{
		top: 20px;
	}
	.header-burger.active span{
		transform: scale(0);
	}
	.header-burger.active::before{
		transform: rotate(45deg);
		top: 10px;
	}
	.header-burger.active::after{
		transform: rotate(-45deg);
		top: 10px;
	}
}
/*=================================================================================*/
.home {
	width: 100%;
	background-color: #ECE7E4;
	position: relative;
	z-index: 1;
}
.home-bg__img{
	width: 40%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(@img/home/IMAGE.svg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
}
@media (max-width: 768px){
	.home-bg__img{
		width: 35%;
	}
}
@media (max-width: 650px){
	.home-bg__img{
		display: none;
	}
}
.home--container {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}
.home--body {
	max-width: 100%;
	padding: 135px 15px;
	flex: 0 1 50%;
}
	@media (max-width: 768px){
		.home--body{
			padding: 75px 15px;
		}
	}
		@media (max-width: 650px){
			.home--body{
				text-align: center;
				flex: 0 1 100%;
			}
		}
			@media (max-width: 500px){
				.home--body{
					padding: 35px 15px;
				}
			}
.body__subtitle {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.42;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #645C55;
}
.bodu__title {
	width: 100%;
	font-weight: 400;
	font-size: 64px;
	line-height: 1.09;
	color: #1B1A1A;
	margin-bottom: 20px;
}
	@media (max-width: 500px){
		.bodu__title{
			font-size: 48px;
		}
	}
		@media (max-width: 375px){
			.bodu__title{
				font-size: 36px;
			}
		}
.body__text {
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #403E3B;
	margin-bottom: 20px;
}
.body__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.4px;
}
.body__link a{
	color: #1B1A1A;
}
.body__link a:hover{
	border-bottom: 1px solid #1B1A1A;
}
/*=================================================================================*/
.our {
	width: 100%;
}
.our__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
	@media (max-width: 650px){
		.our__container {
			padding: 70px 0;
		}
	}
		@media (max-width: 650px){
			.our__container {
				padding: 35px 0;
			}
		}
.our__body {
	display: flex;
	flex-wrap: wrap;
	max-width: 770px;
	margin: 0 auto;
	padding: 0 15px;
}
	@media (max-width: 650px){
		.our__body {
			text-align: center;
		}
	}
.our__title {
	flex: 0 1 30%;
	font-weight: 400;
	font-size: 32px;
	line-height: 119%;
	color: #403E3B;
}
	@media (max-width: 650px){
		.our__title {
			flex: 0 1 100%;
			margin-bottom: 20px;
		}
	}
.our__block {
	flex: 0 1 70%;
}
	@media (max-width: 650px){
		.our__block {
			flex: 0 1 100%;
		}
	}
.our__text {
	max-width: 490px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #403E3B;
}
	@media (max-width: 650px){
		.our__text {
			margin: 0 auto;
		}
	}
.our__text p{
	margin-bottom: 10px;
}
.our__author {
	display: flex;
	height: 100px;
	align-items: center;
}
	@media (max-width: 650px){
		.our__author {
			justify-content: center;
		}
	}
.author__img {
}
.author__name {
	flex: 1 1 auto;
	font-weight: 400;
	font-size: 17px;
	line-height: 153%;
	color: #1B1A1A;
	margin-left: 30px;
}
.author__rung {
	font-size: 14px;
	line-height: 100%;
	color: #645C55;
	text-align: start;
}
/*=================================================================================*/
.reeding {
	width: 100%;
	margin: 0 auto;
	background-image: url(@img/reeding/IMAGE.svg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	position: relative;
}
@media (max-width: 650px){
	.reeding{
		height: 450px;
	}
}
@media (max-width: 425px){
	.reeding{
		height: 250px;
	}
}
.reeding__design {
	position: absolute;
	top: 50%;
	right: 10%;
}
@media (max-width: 375px){
	.reeding__design{
		right: 0;
	}
}
.design {
	max-width: 300px;
}
.design__title {
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #403E3B;
}
.design__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #645C55;
}
/*=================================================================================*/
.how {
	width: 100%;
}
.how__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0 85px;
}
@media (max-width: 900px){
	.how__container {
		padding: 60px 0 45px;
	}
}
@media (max-width: 900px){
	.how__container{
		padding: 30px 0 20px;
	}
}
.how--body {
	text-align: center;
	margin-bottom: 50px;
}
.how__title {
	font-weight: 400;
	font-size: 39px;
	line-height: 108%;
	color: #1B1A1A;
	padding: 0 15px;
}
.how__row {
	display: flex;
	flex-wrap: wrap;
}
.how__column {
	flex: 0 1 33.333%;
	text-align: center;
}
@media (max-width: 900px){
	.how__column{
		padding: 0 10px;
	}
}
@media (max-width: 650px){
	.how__column{
		flex: 0 1 100%;
	}
}
.how__img {
	margin-bottom: 15px;
}
.how__tile {
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 18px;
	line-height: 144%;
	color: #403E3B;
}
.how__text {
	max-width: 285px;
	margin: 0 auto;
	font-size: 15px;
	line-height: 160%;
	color: #645C55;
}
@media (max-width: 650px){
	.how__text{
		flex: 0 1 100%;
		margin-bottom: 30px;
	}
}
@media (max-width: 900px){
	.how__text{
		padding: 0 15px;
	}
}
/*=================================================================================*/
.the {
	position: relative;
	width: 100%;
	background-image: url(@img/the/IMAGE.svg);
	height: 600px;
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}
	@media (max-width: 650px){
		.the{
			height: 450px;
		}
	}
		@media (max-width: 425px){
			.the{
				height: 250px;
			}
		}
.the__design {
	position: absolute;
	top: 50%;
	right: 10%;
}
	@media (max-width: 375px){
		.the__design{
			right: 0;
		}
	}
/*=================================================================================*/
.happy {
	width: 100%;
	background-color: #403E3B;
}
.happy__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 25px;
}
@media (max-width: 900px){
	.happy__container {
		padding: 30px 15px;
	}
}
.happy__body {
	flex: 0 1 50%;
}
@media (max-width: 900px){
	.happy__body {
		flex: 0 1 100%;
		text-align: center;
	}
}
.happy__subtile {
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #ECE7E4;
}
.happy__title {
	font-size: 32px;
	line-height: 119%;
	color: #FFFFFF;
	margin-bottom: 15px;
}
.happy__text {
	max-width: 450px;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #ECE7E4;
}
@media (max-width: 900px){
	.happy__text {
		margin: 0 auto;
	}
}
.happy__block {
	flex: 0 1 50%;
	height: 250px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
}
@media (max-width: 900px){
	.happy__block  {
		flex: 0 1 100%;
		height: 100%;
	}
}
.happy__column {
	flex: 0 1 50%;
	max-width: 200px;
}
@media (max-width: 900px){
	.happy__column {
		margin: 20px 15px;
	}
	.happy__column:last-child{
		margin-bottom: 0;
	}
}
/*=================================================================================*/
.staircase {
	position: relative;
	width: 100%;
	background-image: url(@img/staircase/IMAGE.svg);
	height: 600px;
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}
.staircase__design {
	position: absolute;
	top: 50%;
	left: 10%;
}
/*=================================================================================*/
.featured {
	width: 100%;
	background-color: #F7F7F7;
}
.featured__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 110px 15px;
}
	@media (max-width: 768px){
		.featured__container {
			padding: 60px 15px;
		}
	}
		@media (max-width: 492px){
			.featured__container {
				padding: 30px 15px;
			}
		}
.featured__body {
	max-width: 580px;
	margin-bottom: 42px;
}
@media (max-width: 650px){
	.featured__body {
		text-align: center;
	}
}
.featured__title {
	font-size: 39px;
	line-height: 108%;
	color: #1B1A1A;
	margin-bottom: 15px;
}
	@media (max-width: 375px){
		.featured__title {
			font-size: 28px;
		}
	}
.featured__text {
	font-size: 24px;
	line-height: 125%;
	color: #645C55;
}
@media (max-width: 375px){
	.featured__text {
		font-size: 22px;
	}
}
.featured__row {
	display: flex;
	margin: 0 -7px;
	margin-bottom: 40px;
}
@media (max-width: 768px){
	.featured__row {
		flex-wrap: wrap;
	}
}
.featured__column {
	position: relative;
	flex: 0 1 33.333%;
	height: 460px;
	padding: 40px;
	margin: 0 7px;
	background-position: right;
}
@media (max-width: 768px){
	.featured__column {
		flex: 0 1 100%;
	}
	.featured__column:not(:last-child){
		margin-bottom: 15px;
	}
}
.featured__column > div{
	opacity: 0;
	transition: 0.3s ease;
}
	.featured__column:hover > div{
		opacity: 1;
	}
	@media (max-width: 768px){
		.featured__column > div{
			opacity: 1;
		}
	}
.featured__column-01 {
	background-image: url(@img/featured/01.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.featured__column-02 {
	background-image: url(@img/featured/02.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.featured__column-03 {
	background-image: url(@img/featured/03.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.column__subtitle {
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #645C55;
}
.column__title {
	font-size: 23px;
	line-height: 130%;
	color: #403E3B;
}
.column__button {
	position: absolute;
	bottom: 40px;
	width: 135px;
	padding: 10px 20px;
	background: #1B1A1A;
	border-radius: 14px;
}
	.column__button:hover{
		background: #3d3939;
	}
.column__button a {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.4px;
	color: #FFFFFF;
}
.featured__button {
	padding: 10px 20px;
	text-align: center;
}
.featured__button a{
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.4px;
	color: #1B1A1A;
}
	.featured__button a:hover{
		border-bottom: 1px solid #1B1A1A;
	} 
/*=================================================================================*/
.team {
	width: 100%;
	background-color: #fff;
}
.team__container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 15px;
}
	@media (max-width: 768px){
		.team__container {
			padding: 70px 15px;
		}
	}
		@media (max-width: 492px){
			.team__container {
				padding: 30px 15px;
			}
		}
.team__body {
	max-width: 380px;
	flex: 0 1 50%;
}
	@media (max-width: 768px){
		.team__body {
			margin-bottom: 30px;
		}
	}
		@media (max-width: 650px){
			.team__body {
				max-width: 100%;
				flex: 1 1 100%;
				text-align: center;
			}
		}
.team__title {
	font-size: 32px;
	line-height: 119%;
	color: #403E3B;
}
.team__text {
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #645C55;
	margin-bottom: 30px;
}
.team__button {
	padding: 10px 20px;
}
.team__button a {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.4px;
	color: #1B1A1A;
}
	.team__button a:hover {
		border-bottom: 1px solid #1B1A1A;
	} 
.team__row {
	flex: 1 1 50%;
	display: flex;
	flex-wrap: wrap;
}
.team__column {
	flex: 1 1 50%;
}
.team__column:not(:last-child){
	margin-bottom: 35px;
}
.team__author {
	display: flex;
	min-width: 265px;
	height: 100px;

}
.team__author:not(:last-child){
	margin-right: 10px;
}
/*=================================================================================*/
.get {
	width: 100%;
	background-color: #CEC4BC;
}
.get__container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 15px;
	display: flex;
	flex-wrap: wrap;
}
	@media (max-width: 768px){
		.get__container {
			padding: 70px 15px;
		}
	}
		@media (max-width: 492px){
			.get__container {
				padding: 30px 15px;
			}
		}
.get__body {
	flex: 0 1 570px;
	margin-bottom: 30px;
}
	@media (max-width: 650px){
		.get__body {
			flex: 1 1 570px;
			text-align: center;
		}
	}
.get__subtitle {
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #645C55;
}
.get__title {
	font-size: 40px;
line-height: 105%;
color: #1B1A1A;
}

	@media (max-width: 492px){
		.get__title {
			font-size: 28px;
		}
	}
.get__button {
	flex: 1 1 auto;
	align-self: center;
	text-align: end;
}
@media (max-width: 768px){
	.get__button {
		text-align: center;
	}
}
.get__button a {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.4px;
	color: #1B1A1A;
}
/*=================================================================================*/
.footer {
	width: 100%;
	background-color: #F7F7F7;
}
.footer__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 15px;
	display: flex;
	flex-wrap: wrap;
}
@media (max-width: 500px){
	.footer__container {
		padding: 30px 15px;
	}
}
.footer__body {
	flex: 1 1 auto;
}
@media (max-width: 650px){
	.footer__body {
		flex: 1 1 100%;
		text-align: center;
	}
}
.footer__logo {
	margin-bottom: 20px;
}
.footer__text {
	font-size: 14px;
	line-height: 143%;
	color: #645C55;

}
	@media (max-width: 650px){
		.footer__text {
			margin-bottom: 30px;
		}
	}
.footer__social {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: flex-end;
}
	@media (max-width: 650px){
		.footer__social {
			flex: 1 1 100%;

		}
	}
.footer__icon:not(:last-child) {
	margin-right: 20px;
}